body{
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.home{
    background-color: #ffffff;
}

.navbar-card{
    padding: 1.2rem 1.2rem 1.2rem 1.8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.mobile-image-card{
    background-image: url("./images/bg-intro-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 25rem;
    display: flex;
    justify-content: center;
}

.mobile-img{
    /* height: 18.7rem; */
    min-width: 250px;
    
}

.home-heading{
    font-size: 2rem;
    font-weight: 600;
}

.home-description{
    text-align: center;
    padding: 0px 1.2rem 2.2rem 1.2rem;
}

.home-paragraph{
    font-weight: 500;
    font-size: .8rem;
    color: gray
}
.button{
    height: 2rem;
    width: 7.5rem;
    border: 0px;
    background-image: linear-gradient(to right, lightgreen,skyblue);
    color: #ffffff;
    border-radius: 1.1rem;
    font-size: 0.8rem;
}
.about-card{
    background-color: hsl(0, 0%, 95%);
}
.chosse-bank-card{
    text-align: center;
    padding: 2rem 2rem 2.5rem 2rem;
}
.artical-bank-heading{
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
}
.online-banking-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    text-align: center;
}
.details-heading{
    font-size: 1rem;
    font-weight: 500;
}
.artical-card{
    padding: 2.5rem 2rem 1.2rem 2rem;
    background-color: hsl(0, 0%, 97%);
    margin-bottom: 2.1rem;
}
.artical-image{
    height: 13rem;
    width: 100%;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;

}

.name{
    color: gray;
    font-size: .5rem;
}
.artical-use{
    font-size: 1rem;
}
.artical-text{
    color: gray;
    font-size: .6rem;
}
.artical-description{
    padding: .6rem 2rem 1.8rem 2rem;
}
.button:hover{
    filter: brightness(110%);
}
.contact-card{
    background-color: hsl(233, 26%, 24%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}
.logo-text{
    color: #ffffff;
    font-weight: bold;
    font-size: 1.3rem;
}
.logo{
    padding: .25rem 0.25rem 0rem 0rem;
    margin-top: 1.25rem;
    margin-bottom: 1rem;
    border-radius: .25rem;
    cursor: pointer;
}
.contact-container{
    margin-top: 0.75rem;
}
.icons-card{
    margin: 1rem;
}
.icons{
   margin-left: 0.4rem;
}
.about-text{
    color: #ffffff;
    font-size: 0.7rem;
    text-align: center;
}
.rights-text{
    color: gray;
    font-size: 0.7rem;
    text-align: center;
}
.nav-items{
    list-style-type: none;
    background-color: #ffffff;
    width: 80%;
    height: 16rem;
    text-align: center;
    border-radius: 0.5rem;
    margin: 1rem;
}
.nav-item-text{
    font-size: 0.9rem;
    margin: 1.5rem 0rem 0rem ;
    
}
.hide-item{
    display: none;
}
.disktop-hide{
    display: none;
}

.disktop-btn{
    display: none;
}
.btn-right{
    text-align: center;
}
.artical-box{
    max-width: 300px;
    margin: .5rem;
    background-color: #ffffff;
    border-radius: .5rem;
}
.articals-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media screen and (min-width:720px) {
    .menu-icon{
        display: none;
    }
    .disktop-items{
        list-style-type: none;
        display: flex;
        align-items: center;
    }
    .disktop-item-text{
        margin-left: .5rem;
        font-size: 1rem;
    }
    .disktop-item-text:hover{
        border-bottom: 2px green solid;
    }
    
    .disktop-btn{
        display: block;
    }
    .mobile-image-card{
        background-image: url("./images/bg-intro-desktop.svg");
        width: 100%;
        height: 20rem;
    }
    .disktop-intro{
        display: flex;
        align-items: center;
    }
    .mobile-image-card{
        order: 1;
        align-self: flex-end;
        padding: 0PX;
    }
    .home-description{
        padding-bottom: 0px;
        text-align: start;
        margin-left: 2rem;
    }
    .chosse-bank-card{
        text-align: start;
    }
    .avaliable-options{
        display: flex;
        padding: 1rem;
    }
    .online-banking-card{
        text-align: start;
        align-items: flex-start;
    }
    .artical-bank-heading{
        text-align: start;
    }
    .artical-card{
        padding: 0rem 3rem 0rem 3rem;
    }
    
    
    .contact-card{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .icons-card{
        display: flex;
    }
    .about-text{
        text-align: left;
        margin: 0.5rem;
    }
    
    
}